SNS-Sample/SNS-Sample/.vs/SNS-Sample/FileContentIndex/3a1e22cd-d2d4-4d02-a1ed-5a73590af527.vsidx
SNS-Sample/SNS-Sample/.vs/SNS-Sample/FileContentIndex/3d927092-3e07-4fef-a475-55910a13a56f.vsidx
SNS-Sample/SNS-Sample/.vs/SNS-Sample/FileContentIndex/434e4a33-81d3-48f1-9adc-bbc9f64f5d0d.vsidx
SNS-Sample/SNS-Sample/.vs/SNS-Sample/FileContentIndex/aa263c66-adb6-49cd-8e06-5f1a7660d167.vsidx
SNS-Sample/SNS-Sample/.vs/SNS-Sample/FileContentIndex/d3d07836-c0c4-4def-96ea-f0c1cb8185e3.vsidx
SNS-Sample/SNS-Sample/.vs/SNS-Sample/v17/.suo
SNS-Sample/SNS-Sample/.vs/SNS-Sample/FileContentIndex/05c5540f-9074-4374-8368-78a3cb300c6c.vsidx
SNS-Sample/SNS-Sample/.vs/SNS-Sample/FileContentIndex/3dc01c09-971b-45f1-bed0-cede35470e69.vsidx
AWSSQSSample/AWS-SQS/.vs/AWS-SQS/FileContentIndex/0fbcaaab-82ab-479b-bdc0-d84714bf91b4.vsidx
AWSSQSSample/AWS-SQS/.vs/AWS-SQS/FileContentIndex/50f8f7e1-738c-4bd4-91b2-4c12d9196e66.vsidx
AWSSQSSample/AWS-SQS/.vs/AWS-SQS/FileContentIndex/98703fb1-e9b2-4064-aecd-5607ce37eb1a.vsidx
AWSSQSSample/AWS-SQS/.vs/AWS-SQS/FileContentIndex/b7b80978-ca54-4151-9ec5-01bc40c7124b.vsidx
AWSSQSSample/AWS-SQS/.vs/AWS-SQS/FileContentIndex/eb800bdd-c987-4cd8-af06-54a4165af9fb.vsidx
