SNS-Sample/SNS-Sample/.vs/SNS-Sample/FileContentIndex/3a1e22cd-d2d4-4d02-a1ed-5a73590af527.vsidx
SNS-Sample/SNS-Sample/.vs/SNS-Sample/FileContentIndex/3d927092-3e07-4fef-a475-55910a13a56f.vsidx
SNS-Sample/SNS-Sample/.vs/SNS-Sample/FileContentIndex/434e4a33-81d3-48f1-9adc-bbc9f64f5d0d.vsidx
SNS-Sample/SNS-Sample/.vs/SNS-Sample/FileContentIndex/aa263c66-adb6-49cd-8e06-5f1a7660d167.vsidx
SNS-Sample/SNS-Sample/.vs/SNS-Sample/FileContentIndex/d3d07836-c0c4-4def-96ea-f0c1cb8185e3.vsidx
SNS-Sample/SNS-Sample/.vs/SNS-Sample/v17/.suo
SNS-Sample/SNS-Sample/.vs/SNS-Sample/FileContentIndex/05c5540f-9074-4374-8368-78a3cb300c6c.vsidx
SNS-Sample/SNS-Sample/.vs/SNS-Sample/FileContentIndex/3dc01c09-971b-45f1-bed0-cede35470e69.vsidx
AWSSQSSample/AWS-SQS/.vs/AWS-SQS/FileContentIndex/0fbcaaab-82ab-479b-bdc0-d84714bf91b4.vsidx
AWSSQSSample/AWS-SQS/.vs/AWS-SQS/FileContentIndex/50f8f7e1-738c-4bd4-91b2-4c12d9196e66.vsidx
AWSSQSSample/AWS-SQS/.vs/AWS-SQS/FileContentIndex/98703fb1-e9b2-4064-aecd-5607ce37eb1a.vsidx
AWSSQSSample/AWS-SQS/.vs/AWS-SQS/FileContentIndex/b7b80978-ca54-4151-9ec5-01bc40c7124b.vsidx
AWSSQSSample/AWS-SQS/.vs/AWS-SQS/FileContentIndex/eb800bdd-c987-4cd8-af06-54a4165af9fb.vsidx
LambdaStepFunction/LambdaStepFunction/.vs/LambdaStepFunction/FileContentIndex/0a545b4c-436d-442d-9d95-1bd168b3c6ec.vsidx
LambdaStepFunction/LambdaStepFunction/.vs/LambdaStepFunction/FileContentIndex/25100f95-64bb-4a28-805f-ecae3d212255.vsidx
LambdaStepFunction/LambdaStepFunction/.vs/LambdaStepFunction/FileContentIndex/8c47e50b-3713-494a-9a18-1b53710101c8.vsidx
CloudFormationLambda/CloudFormationLambda/.vs/CloudFormationLambda/FileContentIndex/240f085a-0c53-4c6a-acdf-8b5a58d6539d.vsidx
CloudFormationLambda/CloudFormationLambda/.vs/CloudFormationLambda/FileContentIndex/61a21515-590e-47d5-a9f6-99e1868d7a21.vsidx
CloudFormationLambda/CloudFormationLambda/.vs/CloudFormationLambda/FileContentIndex/6d2ca883-9108-4d40-8597-90c7897794a6.vsidx
CloudFormationLambda/CloudFormationLambda/.vs/CloudFormationLambda/FileContentIndex/856ff462-58eb-4147-8e4d-17ef44c6a416.vsidx
CloudFormationLambda/CloudFormationLambda/.vs/CloudFormationLambda/FileContentIndex/f94a2c02-2ad3-4b5c-9905-ed9b0611c313.vsidx
S3-Demo/s3Demo/.vs/s3Demo/FileContentIndex/64552589-0aac-4b5f-abbf-4e20007d6ce4.vsidx
S3-Demo/s3Demo/.vs/s3Demo/FileContentIndex/8cfbddf1-abcb-4f0d-b774-c4dfcbb7fce2.vsidx
S3-Demo/s3Demo/.vs/s3Demo/FileContentIndex/8e1b2d3b-1edf-4605-90c3-f870f91c99f0.vsidx
S3-Demo/s3Demo/.vs/s3Demo/FileContentIndex/a4e0f5a4-7117-4a8b-b44b-b95dbd8210d8.vsidx
S3-Demo/s3Demo/.vs/s3Demo/FileContentIndex/c549a9cc-8a2e-4652-8638-ca69769896c0.vsidx
S3-Demo/s3Demo/.vs/s3Demo/FileContentIndex/53c3c266-98b3-4b4f-a6f5-21eabcf21469.vsidx
DynamoStudentMananger/.vs/DynamoStudentMananger/FileContentIndex/0e5eb519-7616-4be8-ba20-5ef43b2fc464.vsidx
DynamoStudentMananger/.vs/DynamoStudentMananger/FileContentIndex/120965f7-68aa-49e7-b3ed-0cf68d01b9c8.vsidx
DynamoStudentMananger/.vs/DynamoStudentMananger/FileContentIndex/1ceb5703-afc3-437f-b10a-2b105610750d.vsidx
DynamoStudentMananger/.vs/DynamoStudentMananger/FileContentIndex/7912aef3-5da3-4fad-b28f-c7066074476a.vsidx
DynamoStudentMananger/.vs/DynamoStudentMananger/FileContentIndex/cf9efc82-cf3d-4382-a211-aa0bc3a69b6a.vsidx
DynamoStudentMananger/.vs/DynamoStudentMananger/FileContentIndex/69c0d22c-5442-454e-80c5-760afa1c8bd7.vsidx
